<div id="address-sujests">
	<div class="search-container">
    <img src="assets/search-icon.svg" alt="search">
		<input type="text" value="{{this.value}}" placeholder="Введите улицу или дом" />
	</div>

	<div class="dropdown-container"></div>
</div>
