<div id="address-sujests">
	<div class="search-container">
		<div class="search-input-container">
			<img id="search-icon" src="assets/search-icon.svg" alt="search" />
			<input
				type="text"
				value="{{this.value}}"
				placeholder="Введите улицу или дом"
				id="address-search-input"
			/>
			<img id="clear-icon" src="assets/close.svg" alt="close" />
		</div>
	</div>

	<div class="dropdown-container"></div>
</div>
