.statistic {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	text-align: center;

	h1 {
		margin: 50px;
	}

	table {
		border-collapse: collapse;
		width: 80%;
		margin-bottom: 100px;
		font-family: Arial, sans-serif;
		font-size: 20px;

		th,
		td {
			padding: 20px;
			text-align: left;
			vertical-align: middle;
		}

		th {
			background-color: rgb(244 244 244);
			font-weight: bold;
		}

		tr:hover {
			background-color: rgb(167 139 139 / 10%);
		}
	}
}
