.food-card {
	display: inline-flex;
	flex-direction: column;
	cursor: pointer;
	transition: 0.2s;
	padding: 14px;
	border-radius: 20px;
	width: 90%;
	min-width: 200px;
	height: 300px;

	button {
		width: 108px;
		height: 31px;
	}

	&:hover {
		background: var(--food-card-bg-hover);

		button {
			background: var(--counter-add-bg-hover);
		}
	}
}

#food-action {
	height: 31px !important;
}

#food-content {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin: 18px 0;
}

#food-title {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 600;
	min-height: 24px;
	display: flex;
	align-items: center;
}

#food-image-container {
	display: flex;
	align-items: center;
	overflow: hidden;
	background: var(--layout-bg-color);
	border-radius: 10px;
	height: 200px;

	img {
		min-height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

#food-values {
	#price {
		white-space: nowrap;
		font-size: 20px;
		font-weight: 600;
	}

	#weight {
		font-size: 14px;
	}
}

.food-card-modal {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 370px;

	&__title {
		font-size: 18px;
		margin-bottom: 30px;
	}

	#food-modal-accept-button {
		height: 40px;
	}

	#food-modal-back-button {
		display: flex;
		justify-content: center;
		background: var(--layout-bg-color);
		color: var(--button-secondary-text-color);
		font-weight: 600;
		padding: 8px 18px;
		transition: 0.3s;
		margin-top: 10px;

		&:hover {
			background: var(--back-button-bg-hover);
		}
	}
}
