.coupon {
	width: 100%;
	height: fit-content;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 220px;
	height: 90px;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 10px;
	gap: 20px;
	border: 1px solid #ededed;
	position: relative;

	&.copied {
		.copied {
			opacity: 1;
		}

		.copy {
			opacity: 0 !important;
		}
	}

	.copied {
		transition: 0.2s;
		opacity: 0;
		position: absolute;
		height: 36px;
	}

	&__logo {

	}

	&:hover {
		cursor: pointer;
		.copy {
			opacity: 1;
			transform: scale(1.1);
		}

		.coupon__logo {
			transition: 0.2s;
			opacity: 0;
		}

		.coupon__content {
			transition: 0.2s;
			opacity: 0;
		}
	}

	.copy {
		transition: 0.2s;
		opacity: 0;
		position: absolute;
		height: 36px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		flex: 1;
	}
}

.coupon__code {
	transition: 0.2s;
	font-weight: 600;
}

.coupon__num {
	transition: 0.2s;
	font-size: 20px;
	font-weight: 600;
}

.coupon__text {
	transition: 0.2s;
	font-size: 14px;
	font-weight: 600;
	color: #797979;
}

.coupon__time {
	transition: 0.2s;
	font-size: 12px;
	font-weight: 600;
	color: #aaaaaa;
}
