<div class="coupon" id="{{this.id}}">
	<img class="copied" src="assets/copied.svg" alt="" />
	<img class="copy" src="assets/copy.svg" alt="" />
	<div class="coupon__logo">
		<img src="assets/favicon.svg" alt="" />
	</div>
	<div class="coupon__content">
		<div class="coupon__num">-{{this.sale}} %</div>
		<div class="coupon__time">Действует до {{this.date}}</div>
	</div>
</div>