<div id="inputContainer">

	{{#if this.button}}
		<div id="searchBtn"></div>
	{{else if this.isPassword}}
		<button id="btn-eye" type="button" class="hidden">
			<img id="eye-open" src="assets/eye-open.svg" alt="eye-open" />
			<img id="eye-close" src="assets/eye-close.svg" alt="eye-close" />
		</button>
	{{/if}}

	<input id={{this.id}} type={{this.type}} placeholder={{this.placeholder}} />

</div>
