.input {
	position: relative;
	display: flex;
	align-items: center;
	background: inherit;

	input {
		height: var(--input-height);
		font-size: var(--input-font-size);
		padding: var(--input-padding);
		border-radius: var(--input-border-radius);
		border: 1px solid var(--input-border-color-hover);
		color: var(--input-border-color);
		outline: none;
		transition: all 0.3s;
		width: 100%;
	}

	&__search-button {
		position: absolute;
		right: 4px;
		border-radius: var(--button-border-radius);

		&:active {
			background: var(--button-bg-active);
			transform: scale(0.9);
		}

		& ~ input {
			padding: var(--input-search-padding);
		}
	}

	input:hover {
		border-color: var(--input-border-color);
	}

	input:disabled {
		cursor: pointer;
	}

	input:focus {
		border-color: var(--input-border-color-focus);
		box-shadow: var(--input-box-shadow-focus);
	}

	input.dynamic {
		height: 30px;
		color: var(--input-color-dynamic);
		background: inherit;

		& ~ .input__label {
			padding: 0 2px;
			font-size: 16px;
			position: absolute;
			color: var(--input-placeholder-color);
			pointer-events: none;
			left: 14px;
			background-color: transparent;
			transform-origin: 14px;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.3s;
			z-index: 5;
		}

		& ~ .input__label-holder {
			position: absolute;
			pointer-events: none;
			left: 14px;
			background: inherit;
			width: 0;
			height: 4px;
			top: -1px;
			transition: 0.2s;
		}

		&:not(:placeholder-shown),
		&:focus {
			& ~ .input__label {
				top: -10px;
				transform: scale(0.8);
			}
		}
	}

	input.input-error {
		border-color: var(--input-error-color);
	}

	&.password-input input {
		padding: var(--input-password-padding);
	}

	input:not(:disabled):focus {
		border-color: var(--input-border-color-focus);
		box-shadow: var(--input-box-shadow-focus);
	}

	&__btn-eye {
		display: flex;
		position: absolute;
		border: none;
		background: none;
		right: 15px;
		cursor: pointer;
		transition: all 0.3s;
	}

	&__eye-open {
		transition:
			opacity 0.2s,
			transform 0.3s;

		.visible & {
			transform: scale(1);
			opacity: 1;
		}

		.hidden & {
			transform: scale(0);
			opacity: 0;
		}
	}

	&__eye-close {
		transition:
			opacity 0.2s,
			transform 0.3s;

		.visible & {
			position: absolute;
			transform: scale(0);
			opacity: 0;
		}

		.hidden & {
			position: absolute;
			transform: scale(1);
			opacity: 1;
		}
	}
}
