<button class="counter-button" id={{this.id}}>
	<div id="minus-button">
		<img src="assets/minus.svg" type="icon" alt="minus-icon" />
	</div>

	<span>{{this.count}}</span>

	<div id="plus-button">
		<img src="assets/plus.svg" type="icon" alt="plus-icon" />
	</div>
</button>
