<button class="counter-button" id={{this.id}}>
	<div class="counter-button__minus">
		<img src="assets/minus.svg" type="icon" alt="minus-icon" />
	</div>

	<span>{{this.count}}</span>

	<div class="counter-button__plus">
		<img src="assets/plus.svg" type="icon" alt="plus-icon" />
	</div>
</button>
