@import "../../constants.scss";

.btn-cart {
	display: flex;
	align-items: center;
	gap: 14px;
	font-size: 16px;
	border: 1px solid;
	border-radius: 18px;
	padding: 6px 14px;
	cursor: pointer;
	background: #fff;
	transition: all 0.3s;

	span {
		font-size: 18px;
		font-family: Roboto, sans-serif;
		color: #ebebeb;
	}

	&.filled {
		img {
			filter: invert(1);
		}
		background: #000;
	}

	&:hover {
		background: var(--button-bg-hover);
	}

	&:active {
		background: var(--button-bg-active);
	}
}
