<button class="btn-cart {{this.class}}" type="button">

  {{#if this.price}}
    <img src="assets/cart.svg" type="icon" alt="cart" />
    <span>{{this.price}} ₽</span>
  {{else}}
    <img src="assets/cart.svg" type="icon" alt="cart" />
  {{/if}}

</button>
