# dependencies
/node_modules

# editor directories and files
.idea
.vscode

# production
/dist
/build

# enviroment variables
.env.development

# jsDoc generated documentation
/generated/jsDocs

# logs
*.log
