.dish-card {
	display: flex;
	align-items: center;
	position: relative;

	&__count {
		padding: 2px 12px;
		background: var(--layout-bg-color);
		border-radius: 14px;
		width: fit-content;
	}

	&--complete {
		background: var(--layout-bg-color);
		padding: 15px;
		border-radius: 18px;

		.dish-card__count {
			background: var(--button-secondary-bg);
		}
	}

	.counter-button {
		width: 100px;
		margin: 0 30px;
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 6px;
	}

	&__weight {
		color: var(--food-subtitle-color);
		font-size: 16px;
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 18px;
		font-weight: 600;
	}

	&__img {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		overflow: hidden;
		background: var(--layout-bg-color);
		border-radius: 10px;
		width: 20%;
		height: 120px;
		min-width: 120px;
		margin-right: 16px;

		img {
			width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;

		&-block {
			display: flex;
			flex-direction: column;
		}
	}
}
