.btn-custom {
	font-size: 16px;
	border: none;
	border-radius: var(--button-border-radius);
	padding: 6px 18px;
	height: 30px;
	transition:
		background 0.3s,
		transform 0.1s;
	cursor: pointer;

	&.btn-primary {
		color: var(--button-text-color);
		background: var(--button-bg-color);

		&:hover {
			background: var(--button-bg-hover);
		}

		&:active {
			background: var(--button-bg-active);
		}
	}
}
