.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--button-font-size);
	border: none;
	outline: 1px solid transparent;
	border-radius: var(--button-border-radius);
	padding: var(--button-padding);
	transition:
		background 0.3s,
		transform 0.1s;
	cursor: pointer;
	gap: 10px;

	img {
		float: left;
	}

	&.auth {
		padding: var(--button-signin-padding);
		border-radius: var(--button-signin-border-radius);
	}

	&:has(:only-child) {
		justify-content: center;
	}

	&.btn-primary:not(:disabled) {
		color: var(--button-text-color);
		background: var(--button-bg-color);

		&:hover {
			background: var(--button-bg-hover);
		}

		&:active {
			background: var(--button-bg-active);
		}
	}

	&.btn-clear {
		background: transparent;
		padding: 0;
	}

	&.btn-secondary {
		background: var(--button-secondary-bg);
		color: var(--button-secondary-text-color);
		transition: 0.3s;

		&:hover {
			outline: 1px solid var(--brand);
		}
	}

	&:disabled {
		background: var(--button-bg-disabled);
		cursor: not-allowed;
		color: var(--button-color-disabled);
	}

	&:has(#btn-loader) {
		gap: 10px;
	}
}

#btn-loader {
	display: none;

	&.loading {
		display: block;
	}
}
