<div class="feedback">
	<div class="feedback__title">Как вам заказ?</div>
	<div class="feedback__rating"></div>
	<div class="feedback__subtitle">Что думаете в целом?</div>
	<div class="feedback__comment"></div>
	<div class="feedback__example">Например, ваши ожидания, впечатления, вкусно, не вкусно, как быстро доставили,
		посоветуете ли друзьям</div>
</div>
