<div class="order">
	<div class="order__button-container"></div>
	<div class="order__main">
		<div class="order__title">
			<span>Заказ № {{this.id}} </span>
			<div class="order__status">Статус заказа <span>{{this.status}}</span></div>
		</div>
		<div class="order__create-time">Создан в 19:30</div>
	</div>
</div>
