.restaurant__container {
	display: grid;
	grid-template-columns: 240px 1fr;
	margin-top: 16px;
}

.restaurant__sidebar {
	display: flex;
	flex-direction: column;

	@media (max-width: 500px) {
		width: 100%;
	}
}

.restaurant__main {
	.restaurant__banner-container {
		background: var(--layout-bg-color);
		border-radius: 10px;
		width: 100%;
		min-height: 278px;
		margin-top: 18px;
	}

	.restaurant__food {
		display: flex;
		flex-direction: column;
		gap: 34px;
		margin-top: 30px;
		padding-bottom: 30px;
	}
}

.orders-slider {
	overflow-x: auto;
}
