<div class="restaurant__container">

	<div class="restaurant__sidebar"></div>

	<div class="restaurant__main">
		<div class="restaurant__banner-container"></div>
		<div class="restaurant__food"></div>
	</div>

</div>
<div class="cart__mobile"></div>	
