#restaurant-container {
	display: grid;
	grid-template-columns: 240px 1fr;
	margin-top: 16px;
}

#restaurant-sidebar {
	display: flex;
	flex-direction: column;
}

#restaurant-main {
	#restaurant-banner-container {
		background: var(--layout-bg-color);
		border-radius: 10px;
		width: 100%;
		min-height: 278px;
	}

	#restaurant-food {
		display: flex;
		flex-direction: column;
		gap: 34px;
		margin-top: 30px;
		padding-bottom: 30px;
	}
}
