.header__profile {
	margin-left: auto;
	display: flex;
	align-items: center;
	position: absolute;
	gap: 25px;
	font-weight: 600;
	height: 100%;
	color: var(--layout-border-color);
	justify-content: space-between;
	transition: all 0.3s;
	right: 0;

	&-image {
		background: linear-gradient(
			120deg,
			var(--avatar-bg-linear-color-first) 10%,
			var(--avatar-bg-linear-color-second) 140%
		);
	}

	button {
		height: 100%;
		width: 114px;
		border-radius: var(--layout-border-radius);
	}

	.header__profile-name {
		pointer-events: none;
		opacity: 0;
		width: 0;
		font-size: 20px;
		transition: all 0.3s;
		z-index: 11;
	}
}

.avatar-container {
	display: flex;
	align-items: center;
	border-radius: 19px;
	height: 38px;
	width: 38px;
	overflow: hidden;
	z-index: 11;
	cursor: pointer;

	img {
		min-height: 100%;
		object-fit: cover;
		width: 100%;
		margin: 0;
	}

	&--default {
		background: linear-gradient(
			120deg,
			var(--avatar-bg-linear-color-first) 10%,
			var(--avatar-bg-linear-color-second) 140%
		);
	}
}

#profile-submit-button {
	height: 40px;
}

#profile-submit-password-button {
	height: 40px;
}
