<div id="profile">
	<span id="name">{{this.name}}</span>

	<div id="avatar-container" class="{{this.class}}">
		<img class="header__profile-image" alt="avatar" src={{this.avatarUrl}} />
	</div>

</div>
