<div class="header__profile">
	<span class="header__profile-name">{{this.name}}</span>

	<div class="{{this.class}}">
		<img class="header__profile-image" alt="avatar" src={{this.avatarUrl}} />
	</div>

</div>

