<div id="{{this.id}}" class="profile-dropdown {{this.open}}">

	<div class="profile-dropdown__items">
		{{#each items}}
			<div class="profile-dropdown__item" id="{{this.id}}">
        {{this.name}}
      </div>
		{{/each}}
	</div>
</div>
