.profile-dropdown {
	position: absolute;
	top: -34px;
	right: -14px;
	width: var(--profile-dropdown-width);
	height: fit-content;
	border-radius: var(--layout-border-radius);
	background: var(--profile-dropdown-bg-color);
	z-index: 10;
	box-shadow: var(--profile-dropdown-box-shadow);
	opacity: 0;
	transition: all 0.3s;
	overflow: hidden;
	pointer-events: none;

	&.profile-dropdown-open {
		opacity: 1;
		pointer-events: all;
	}
}

#items {
	display: flex;
	flex-direction: column;
	border-radius: var(--layout-border-radius);
	height: fit-content;
	font-size: 20px;
	font-weight: 600;
	margin-top: 66px;
}

.profile-dropdown-item {
	display: flex;
	align-items: center;
	padding: 18px 26px;
	transition: all 0.3s;
	font-size: 18px;
	cursor: pointer;
	font-weight: 600;
	color: var(--profile-dropdown-item-color);

	&:hover {
		background: var(--layout-bg-color);
		color: var(--profile-dropdown-item-color-hover);
	}
}
