#restaurants {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: space-evenly;
	color: var(--brand);
	font-size: 18px;

	.loader {
		position: absolute;
		left: calc(50% - 30px);
	}
}
