<div class="restaurants">
	<div class="category-bar">
		<div class="category1"></div>
		<div class="category2"></div>
		<div class="category3"></div>
	</div>
	<div class="orders-slider"></div>
	<div class="restaurants__cards"></div>
</div>
