<div class="restaurants">
	<div class="orders-slider"></div>
	<div class="category-bar">
		<div class="all-categories-button"></div>
	</div>
	<div class="restaurants__recomendations">
	</div>
	<div class="restaurants__title">Все рестораны</div>
	<div class="restaurants__cards"></div>
</div>
<div class="cart__mobile"></div>
