@import "../../constants.scss";

.cart-wrapper {
	margin-top: 16px;

	#back-button {
		background: var(--layout-bg-color);
		color: var(--button-secondary-text-color);
		font-weight: 600;
		padding: 8px 18px;
		transition: 0.3s;

		&:hover {
			background: var(--back-button-bg-hover);
		}
	}
}

.cart {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	&__dishes {
		flex: 1;
	}

	&__pay-form {
		max-width: 456px;
	}

	&__empty {
		font-size: 22px;
		margin: 10px 0;
		text-align: end;
	}

	#cutleries-counter {
		width: 116px;
		height: 31px;
		margin: 30px 0;
	}
}

@media (max-width: $sm) {
	.cart {
		flex-direction: column;

		&__pay-form {
			max-width: 100%;
		}
	}
}
