<div class="pay-form">

	<div class="pay-form__price">
		<div class="pay-form__title">Сумма заказа</div>
		<div class="pay-form__title" id="pay-form-sum">{{#if this.sum}}{{this.sum}}{{else}}0{{/if}} ₽</div>
	</div>

	<div class="pay-form__delivery-info">
		Доставка 30-40 минут
	</div>

	<div class="pay-form__address">
		<div class="pay-form__title">Адрес доставки</div>
		<div class="pay-form__inputs"></div>
	</div>

	<div class="pay-form__methods">
		<div class="pay-form__title">Способ оплаты</div>
		<div class="pay-form__method-dropdown">
			<div class="pay-form__methods-item">
				<img src="/assets/spb.svg" alt="spb" />
				СБП
				<img src="/assets/right-arrow.svg" alt="arrow" />
			</div>
		</div>
	</div>

</div>
