@import "../../../../constants.scss";

.pay-form {
	display: flex;
	flex-direction: column;
	background: var(--layout-bg-color);
	border-radius: var(--layout-border-radius);
	padding: 30px;
	position: sticky;
	top: 100px;

	&__sum_info {
		display: none;
	}

	&__pay-action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	&__button {
		width: 100%;
	}

	&__title {
		font-size: 22px;
		font-weight: 600;
	}

	&__price {
		display: flex;
		justify-content: space-between;
	}

	&__delivery-info {
		margin-top: 10px;
		color: var(--food-subtitle-color);
		font-size: 18px;
	}

	&__address {
		display: flex;
		flex-direction: column;
		margin: 34px 0;
		gap: 14px;
	}

	&__inputs {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 14px;
		background: var(--layout-bg-color);

		& :first-child {
			grid-column: 1 / -1;
		}
	}

	&__input-container {
		background: inherit;
		position: relative;
	}

	&__methods {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 36px;
		margin-top:17px;
	}

	&__methods-item {
		display: flex;
		align-items: center;
		gap: 12px;
		border-radius: var(--layout-border-radius);
		border: 1px solid var(--cart-pay-method-color);
		padding: 8px 16px;
		transition: 0.3s;

		&:hover {
			border: 1px solid var(--cart-pay-method-color-hover);
			background: var(--cart-pay-method-color-hover);
		}
	}

	#pay-form-button {
		height: 36px;
		margin-top: auto;
		width: 100%;
	}
}

.error-message__pay-form {
	color: var(--red);
	font-size: 12px;
	margin: 5px;
	margin-bottom: 10px;
	position: absolute; 
	z-index: 1000;
}

@media (max-width: $sm) {
	.pay-form {
		background: transparent;
		padding: 0;
		position: static;

		&__pay-action {
			background: var(--order-details-bg-mobile);
			position: sticky;
			bottom: 0;
			padding: 20px 0;
			z-index: 9;
		}

		&__inputs {
			background: var(--address-bg);
		}

		&__sum_info {
			display: block;
			width: 100px;
			font-size: 15px;
		}

		&__sum {
			font-weight: 600;
			font-size: 18px;
		}

		&__methods {
			margin-bottom: 20px;
		}
	}
	.error-message__pay-form {
		font-size: 12px;
	}
}
