<div class="profile">
	<div class="profile__image"></div>

	<div class="profile-block">
        <div class="profile__address">
            <div class="profile__address-title">Мой адрес</div>
            <div class="profile__address-input">
                <div class="hover-label"><span>Изменить</span></div>
            </div>
        </div>
		<form class="profile__info">
			<div class="profile__info-title">Личные данные</div>
		</form>
		<form class="profile__password-change">
			<div class="profile__password-change-title">Смена пароля</div>
		</form>
	</div>
</div>
