<div class="profile">
  <div class="profile__image"></div>

    <div class="profile-block">
      <div class="profile__info">
        <div class="profile__info-title">Личные данные</div>
      </div>
        <div class="profile__password-change">
            <div class="profile__password-change-title">Смена пароля</div>
        </div>
    </div>
</div>
