.profile {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 30px;

	&__image {
		height: 220px;
		width: 220px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 14px;
		width: 340px;

		&-title {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 10px;
		}
	}
}
