@import "../../constants.scss";

.profile {
	display: flex;
	justify-content: center;
	margin-top: 46px;
	gap: 30px;

	&__image {
		height: 200px;
		width: 200px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 14px;
		width: 340px;
		background: var(--profile-bg-color);

		&-title {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 10px;
		}
	}

	&__password-change {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 14px;
		width: 340px;
		background: var(--profile-bg-color);

		&-title {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 10px;
		}
	}

	.error-message {
		color: var(--red);
		font-size: 14px;
		margin: -12px 4px 16px;
		text-align: left;
		height: 15px;
	}

	.input__label {
		background: inherit;
	}
}

@media (max-width: $sm) {
	.profile {
		margin-top: 15px;
		flex-direction: column;
		align-items: center;

		&__image {
			height: 150px;
			width: 150px;
		}

		&__info {
			width: 100%;
		}
	}
}
