.dishes {
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__cutleries {
		display: flex;
		font-size: 18px;
		font-weight: 600;
		gap: 40px;
		align-items: center;
	}

	&__title {
		display: flex;
		margin-top: 20px;
		margin-left: 15px;
		font-size: 24px;
		font-weight: 600;
	}
}

.dish-card {
	width: 80%;
}

.dish-card__counter-block {
	margin-left: auto;
}
