<div class="dishes">
	{{#if this.restaurantName}}
		<div class="dishes__title">Ресторан: "{{this.restaurantName}}"</div>
		<div class="dishes__subtitle">Выбранные блюда:</div>
	{{else}}
		<div class="dishes__title">Корзина пуста</div>
	{{/if}}
</div>
