.dishes {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 15px;
	margin-top: 20px;
	font-size: 26px;
	font-weight: 600;

	&__cutleries {
		display: flex;
		font-size: 18px;
		font-weight: 600;
		gap: 40px;
		align-items: center;
	}

	&__title {
		display: flex;
		font-size: 26px;
		font-weight: 600;
	}

	&__subtitle {
		display: flex;
		font-size: 20px;
		font-weight: 600;
	}
}

.dish-card {
	width: 80%;
}

.dish-card__counter-block {
	margin-left: auto;
}

.dish-card__price {
	white-space: nowrap;
}
