.file-upload {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	margin: 0;
	border: 1px solid var(--file-upload-border-color);
	transition: 0.2s;
	cursor: pointer;

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__image {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		transition: 0.3s;
	}

	&__input {
		display: none;
	}

	&_label {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		height: 100%;
		width: 100%;
	}

	&__button {
		display: flex;
		padding: 0;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		font-size: 18px;
		border: none;
		background-color: transparent;
		z-index: 2;
		height: 100%;
		width: 100%;

		div {
			transition: 0.3s;
		}
	}

	&__icon {
		position: absolute;
		opacity: 0;
		transition: 0.3s;
		height: 60px;
	}

	&__delete {
		position: absolute;
		opacity: 0;
		bottom: 10px;
		height: 30px;
		transition: 0.3s;

		&:hover {
			height: 34px;
		}
	}

	&:hover {
		box-shadow: var(--file-upload-box-shadow);
		border: 1px solid transparent;

		.file-upload__image {
			filter: blur(4px) opacity(0.8);
		}

		.file-upload__icon {
			opacity: 1;
		}

		.file-upload__delete {
			opacity: 1;
		}
	}
}
