<div class="file-upload">
	<form class="file-upload__form {{this.class}}">
		<input class="file-upload__input" type="file" />
		<button class="file-upload__button {{this.class}}">
			<img class="file-upload__image" src="{{this.chosenFile}}" />
			<img class="file-upload__icon" src="/assets/upload.svg" />
		</button>
	</form>
</div>
