<div class="file-upload">
	<form class="file-upload__form {{this.class}}">
		<input class="file-upload__input" type="file" accept="image/png, image/jpeg"/>
		<button class="file-upload__button {{this.class}}">
			<img class="file-upload__image" src="{{this.file}}" />
			<img class="file-upload__icon" src="/assets/upload.svg" />
		</button>
	</form>
</div>
