<div class="restaurant-card" id="restaurant-{{this.id}}">

	<div class="restaurant-card__image-container">
		<img alt="card-img" src={{this.image}} />
	</div>

	<div class="restaurant-card__content">
		<div id="restaurant-card__title"> {{this.title}}</div>

		{{#if this.subtitle}}
			<span class="restaurant-card__subtitle">{{this.subtitle}}</span>
		{{/if}}
	</div>

</div>
