.restaurant-card {
	display: inline-flex;
	flex-direction: column;
	cursor: pointer;
	padding: 16px;
	width: 90%;
	min-width: 200px;
	max-width: 380px;
  min-height: 300px;

	&__image-container {
		display: flex;
		align-items: center;
		overflow: hidden;
		background: var(--layout-bg-color);
		height: 70%;
		max-height: 220px;
		border-radius: 18px;

		img {
			width: 100%;
			min-height: 100%;
			transition: all 0.4s;
			object-fit: cover;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-top: 15px;
	}

	&__title {
		color: var(--text-color);
		font-size: 20px;
		font-weight: 600;
	}

	&__subtitle {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		color: var(--text-color);
		font-size: 16px;
		min-height: 40px;
	}

	&__categories {
		color: var(--subtitle);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		word-break: break-all;
		font-size: 15px;
	}
}

.rating-container {
	display: flex;
	align-items: flex-start;
	gap: 4px;
	color: var(--restaurant-card-rating-color);
}
