.logo-container-on-auth {
	text-align: center;
	padding-bottom: 100px;
	z-index: 5;
}

.auth-container {
	width: 350px;
	margin-top: 30px;
	padding: 50px;
	background: var(--auth-background);
	border-radius: 40px;
	box-shadow: var(--dropdown-box-shadow);
	text-align: center;
	top: -20px;
	transform: translateY(-100px);
	z-index: 3;
}

.auth-title {
	margin-bottom: 20px;
}

.input-container {
	margin-bottom: 20px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#auth-redirect {
	margin-top: 25px;
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
}

.auth-page-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	#auth-background {
		position: absolute;
		min-height: 100vh;
		width: 100vw;
		object-fit: cover;
		filter: blur(2px);
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.error-message,
.error-name {
	color: var(--red);
	font-size: 14px;
	margin: -18px 4px 20px;
	text-align: left;
	height: 15px;
}
