@import "../../constants.scss";

.auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	flex-direction: row;

	&__logo-and-background {
		height: 560px;
		width: 388px;
		position: relative;
		display: flex;
		flex-direction: column;
		z-index: 5;
		transform: scale(1.2);
	}

	&__logo {
		z-index: 5;
		text-align: center;
		position: absolute;
		top: 80px;
		left: 45%;
		transform: translate(-50%, 0);
		width: 100%;

		&--desktop {
			display: block;
		}

		&--mobile {
			display: none;
		}
	}

	&__description {
		position: absolute;
		top: 70%;
		left: 45%;
		transform: translate(-50%, -50%);
		width: 200px;
		height: 108px;
		color: var(--text-in-signin);
		font-weight: bold;
		font-size: 24px;
		text-align: left;
	}

	&__form-container {
		width: 338px;
		margin-left: -10px;
		padding: 50px;
		background: var(--auth-background);
		border-radius: 40px;
		box-shadow: var(--dropdown-box-shadow);
		text-align: center;
		z-index: 6;
		transform: scale(1.1);
	}

	&__title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}

	&__redirect {
		margin-top: 25px;
		display: flex;
		gap: 6px;
		align-items: center;
		justify-content: center;
	}

	&__mini-background {
		width: 100%;
		height: 100%;
	}

	&__background {
		background-color: var(--auth-bg-color);
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__error-message {
		color: var(--red);
		font-size: 14px;
		margin: -18px 4px 22px;
		text-align: left;
		height: 15px;
	}

	&__back-button {
		filter: opacity(0.7);
		transition: 0.3s;

		&:hover {
			filter: opacity(1);
		}

		&--mobile {
			display: none;
		}

		&--desktop {
			display: block;
		}
	}
}

.input-container {
	margin-bottom: 20px;
}

@media (max-width: $sm) {
	.auth-container {
		position: relative;

		&__logo-and-background {
			display: block;
			position: relative;
			height: 100vh;
		}

		&__mini-background {
			width: 100%;
			display: block;
			z-index: 1;
			object-fit: cover;
		}

		&__back-button--mobile {
			display: block;
			position: absolute;
			left: calc(50% - 139px);
			z-index: 10;
			top: calc(50% - 275px);
		}

		&__back-button--desktop {
			display: none;
		}

		&__description {
			display: none;
		}

		&__form-container {
			position: absolute;
			max-width: 275px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			margin-left: 0;
			margin-top: 20px;
			padding: 26px 29px;
			text-align: center;
		}

		&__redirect {
			flex-direction: column;
		}

		&__logo--desktop {
			display: none;
		}

		&__logo--mobile {
			display: block;
			top: 15%;
			left: 50%;
			transform: translateX(-50%) scale(0.7);
			position: relative;
			z-index: 10;
		}

		&__title {
			font-weight: bold;
			font-size: 20px;
			margin-top: 8px;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: $xs) {
	.auth-container {
		&__form-container {
			width: 248px;
			transform: translate(-50%, -50%) scale(0.9);
		}

		&__back-button--mobile {
			transform: scale(0.8);
			left: calc(50% - 118px);
			top: calc(50% - 241px);
		}
	}
}
