.auth-container {
	width: 350px;
	margin-top: 30px;
	padding: 50px;
	background: var(--auth-background);
	border-radius: 40px;
	box-shadow: var(--dropdown-box-shadow);
	text-align: center;
	z-index: 6;

	.signin & {
		margin-left: -50px;
	}
}

.auth-title {
	margin-bottom: 20px;
}

.input-container {
	margin-bottom: 20px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#auth-redirect {
	margin-top: 25px;
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
}

.signin-logo-and-background {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

.delivery-service-description {
	position: absolute;
	top: 70%;
	left: 45%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 108px;
	color: var(--text-in-signin);
	font-weight: bold;
	font-size: 24px;
	text-align: left;
}

.logo-container-on-auth {
	z-index: 5;
	text-align: center;

	&.signin {
		position: absolute;
		top: 15%;
		left: 45%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}

#mini-auth-background {
	width: 100%;
	height: auto;
}

.auth-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	&.signup {
		flex-direction: column;
	}

	&.signin {
		flex-direction: row;
	}

	#auth-background {
		position: absolute;
		min-height: 100vh;
		width: 100vw;
		object-fit: cover;
		filter: blur(2px);
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.signin-background {
	background-color: var(--signin-bg-color);
	position: absolute;
	min-height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1;
}

.error-message,
.error-name {
	color: var(--red);
	font-size: 14px;
	margin: -18px 4px 20px;
	text-align: left;
	height: 15px;
}

#back-button {
	filter: opacity(0.7);
	transition: 0.3s;

	&:hover {
		filter: opacity(1);
	}
}
