<div class="signin-page-container">
    <div class="logo-container-on-sign-in"></div>
    <div class="signin-container">
        <h1 class="signin-title">Вход</h1>
        <form id="sign-in-form" class="signin-form">
            <div id="email-input-container" class="input-container"></div>
            <div class="error-message" id="email-error"></div> 
            <div id="password-input-container" class="input-container"></div>
            <div class="error-message" id="password-error"></div> 
            <div id="sign-in-button-container" class="button-container"></div>
        </form>
        <p class="signin-redirect">Нет аккаунта? <a href="{{signUpUrl}}">Зарегистрироваться</a></p>
    </div>
    <img  id="bg-image" src="assets/background.jpeg" alt="bg" />
</div>
