.logo-container-on-sign-in {
	text-align: center;
	padding-bottom: 120px;
	z-index: 5;
}

.signin-container {
	width: 350px;
	margin-top: 30px;
	padding: 50px;
	background: var(--white);
	border-radius: 40px;
	box-shadow: var(--dropdown-box-shadow);
	text-align: center;
	top: -20px;
	transform: translateY(-120px);
	z-index: 5;
}

.signin-title {
	margin-bottom: 20px;
}

.input-container {
	margin-bottom: 20px;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.signup-redirect {
	margin-top: 25px;
}

.signup-redirect a {
	color: var(--black);
	text-decoration: none;
	font-weight: bold;
}

.signup-redirect a:hover {
	text-decoration: underline;
}

.signin-page-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	#bg-image {
		position: absolute;
		min-height: 100vh;
		width: 100vw;
		filter: blur(2px);
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.error-message {
	color: var(--red);
	font-size: 14px;
	margin: -18px 4px 20px;
	text-align: left;
	height: 15px;
}
