@import "../../variables";

#modal-wrapper {
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;	
	width: 100vw;
	background-color: var(--modal-wrapper-background);
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s;

	&:has(.modal-open) {
		opacity: 1;
		pointer-events: all;
	}
}

#modal-content {
	position: relative;
	margin: 0 40px;
	border-radius: 30px;
	background-color: var(--modal-content-background);
	transform: scale(0.1);
	transition: transform 0.3s;
	z-index: 20;

	&.modal-open {
		transform: scale(1);
	}

	#modal-close {
		position: absolute;
		right: 30px;
		top: 30px;
		transition: filter 0.2s;
		z-index: 10;
		padding-left:15px;

		&:hover {
			filter: brightness(0.5);
		}
			@media (max-width: $sm){
				top:19px;
				right:20px;
			}

			@media (max-width: 400px){
				top:19px;
				right:0px;
			}
	}
	
	@media (max-width: $xs){
		margin:20px;
	}

	
	.find-address__title {
		@media (max-width: 450px){
			font-size:19px;
		}
		@media (max-width: 350px){
			font-size:15px;
		}
	}
}
