@import "../../variables";

.address-sagests {
	display: flex;
	flex-direction: column;
	position: relative;

	&__search-container {
		display: flex;
		gap: 16px;

		button {
			margin-left: auto;
		}

		@media (max-width: $sm) {
			flex-direction: column;
			justify-content: space-between;
			min-height: 400px;

			button {
				margin-left: 0;
				height: 50px;
			}
		}
	}

	&__dropdown-container {
		opacity: 0;
		transform-origin: top;
		pointer-events: none;
		position: absolute;
		top: 65px;
		border: 1px solid var(--sagests-input-bg-color);
		border-radius: 14px;
		background: var(--sagests-dropdown-bg-color);
		width: calc(100% - 130px);
		transition: opacity 0.3s;
		box-shadow: var(--address-dropdown-box-shadow);
		z-index: 20;
		max-height: 340px;
		overflow: auto;
		overscroll-behavior: contain;

		@media (max-width: $sm) {
			width: 100%;
		}

		&::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--custom-scrollbar-bg-color);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: var(--custom-scrollbar-bg-color-hover);
			border-radius: 10px;
		}

		scrollbar-color: var(--custom-scrollbar-color) transparent;

		&.dropdown-open {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__input-container {
		width: 100%;
		position: relative;

		input {
			padding: 12px 40px 12px 50px;
			border: none;
			outline: none;
			font-size: 16px;
			background: var(--sagests-input-bg-color);
			border-radius: 16px;
			transition: 0.2s;
			width: calc(100% - 90px);

			&:focus {
				border-color: var(--input-border-color-focus);
				box-shadow: var(--input-box-shadow-focus);
			}

			@media (max-width: $sm) {
				font-size: 14px;
			}
		}
	}

	&__search-icon {
		position: absolute;
		top: 0;
		left: 14px;
		bottom: 0;
		margin: auto 0;
		width: 20px;
		z-index: 1;
	}

	&__clear-icon {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 14px;
		bottom: 0;
		margin: auto 0;
		width: 20px;
		transition: 0.3s;

		&:hover {
			filter: brightness(0.5);
		}
	}
}
