<div class="not-found">
    <h1>Опросы</h1>
    <div class = "block">
        <div class="question-container">
        <div class="profile__info-title">Страница</div>
            <select name="select">
            <option value="value1" selected>Рестораны</option>
            <option value="value2">Профиль</option>
            </select>
        </div>
        <div class="question-container">
            <div class="profile__info-title">Вопросы</div>
            <div class="survey__search-input"></div>
        </div>
        <div class="survey__search-input"></div>
        <div class="plus-button"></div>
    </div>
    <div class="plusBlock-button"></div>
    <div class="not-found__return-button"> </div>
</div>
