<div id="header">
  <img id="logo" src="/assets/logo.png" alt="logotype" />

  <div id="headerContent">
    
    <div id="left">
      <div id="searchInput"></div>
      <div id="address">
        <span>{{this.address}}</span>
      </div>
      <div id="cart"></div>
    </div>

    <div id="profile"></div>
  </div>
</div>
