<div id="header">

	<div id="logo-container"></div>

	<div id="header-content">

		<div id="search-input"></div>

		{{#if this.user.address}}
			<div id="address">
				<span>{{this.user.address}}</span>
			</div>
		{{/if}}

		<div id="cart"></div>

		<div id="profile-block"></div>

	</div>
</div>
