<div id="header">

  <img id="logo" src="/assets/logo.png" alt="logotype" />

  <div id="headerContent">

    <div id="address">
      <span>{{this.address}}</span>
    </div>

    <div id="profile">
      <span>{{this.userName}}</span>
      <div id="avatarContainer">
        <img src="{{this.avatarUrl}}" alt="" />
      </div>
    </div>
  </div>
</div>
