<div id="header">

	<div id="logoContainer"></div>

	<div id="headerContent">

		<div id="searchInput"></div>

		<div id="address">
			<span>{{this.address}}</span>
		</div>

		<div id="cart"></div>

		<div id="profileBlock"></div>

	</div>
</div>
