<div id="header">
	<img id="logo" src="/assets/logo.png" />

	<div id="headerContent">

		<div id="left">
			<div id="searchInput"></div>
			<div id="address">
				<span>{{address}}</span>
			</div>
			<div id="cart"></div>
		</div>

		<div id="profile"></div>

	</div>
</div>