<div id="header">

	<div id="logoContainer"></div>

	<div id="header-content">

		<div id="searchInput"></div>

		<div id="address">
			{{#if this.user.address}}
				<span>{{this.user.address}}</span>
			{{/if}}
		</div>

		<div id="cart"></div>

		<div id="profile-block"></div>

	</div>
</div>
