<div class="header">

	<div class="header__logo-container"></div>

	<div class="header__content">

		<div class="header__search-input"></div>

		<div class="header__address"></div>

		<div class="header__cart"></div>

		<div class="header__profile-block"></div>

	</div>
</div>
