@import "../../constants.scss";

#header {
	display: flex;
	align-items: center;
	margin-bottom: 36px;
	gap: 100px;
	width: 100%;

	#logo {
		cursor: pointer;
		margin-left: 32px;
	}
}

#headerContent {
	display: flex;
	align-items: center;
	gap: 27px;
	padding: 14px 15px;
	width: 100%;
	height: 38px;
	border-radius: var(--layout-border-radius);
	background: var(--layout-bg-color);

	#cart {
		width: 130px;
	}
}

#address {
	display: flex;
	align-items: center;
	height: 100%;
	background: var(--address-bg);
	border-radius: var(--layout-border-radius);
	padding: 0 15px;
	font-size: 16px;
	outline: 1px solid transparent;
	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		outline: 1px solid var(--address-ouline-hover);
	}
}

#profile {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 25px;
	font-family: Montserrat;
	font-weight: 600;
	height: 100%;

	button {
		height: 100%;
		width: 114px;
		border-radius: var(--layout-border-radius);
	}

	span {
		font-size: 18px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			color: #6f6f6f;
		}
	}
}

#avatarContainer {
	display: flex;
	align-items: center;
	border-radius: 19px;
	height: 38px;
	width: 38px;
	overflow: hidden;
	background: linear-gradient(120deg, #faff00 10%, #42ff13 140%);
	cursor: pointer;

	img {
		width: 100%;
		margin: 0;
	}
}
