.header {
	display: flex;
	align-items: center;
	gap: 100px;
	transition: all 0.15s;
	z-index: 10;
	position: sticky;
	top: 0;
	margin-top: 26px;
	background: var(--header-bg-color);

	&:not(.sticky) {
		border-bottom: transparent;
	}

	&__content {
		display: flex;
		position: relative;
		align-items: center;
		gap: 27px;
		padding: 14px 15px;
		width: 100%;
		height: 38px;
		border-radius: var(--layout-border-radius);
		background: var(--layout-bg-color);
		margin-right: 34px;
	}

	&__cart {
		margin-left: auto;

		span {
			font-size: 18px;
			white-space: nowrap;
		}
	}

	&__profile-block {
		position: relative;
		min-width: 30px;
	}

	&__logo-container {
		margin-left: 52px;
		width: 120px;
	}

	& + .content {
		padding-top: 10px;
	}
}

.sticky {
	background: var(--layout-bg-color);
	border-bottom: 1px solid var(--header-sticky-border-color);
	box-shadow: var(--header-box-shadow);
}

#cart-button {
	margin-left: auto;
	transition: 0.3s;

	&.btn--secondary {
		opacity: 0;
	}
}
