<div id="header">

	<div id="logoContainer"></div>

	<div id="header-content">

		<div id="search-input"></div>

		<div id="address"></div>

		<div id="cart"></div>

		<div id="profile-block"></div>

	</div>
</div>
