@import "../../../../variables";

.restaurant-banner {
display: flex;
	margin-top: -16px;

	@media (max-width: $xsm) {
		flex-direction: column-reverse;
		width: 100%;
	}

	&__info {
		display: flex;
		font-family: Montserrat, sans-serif;
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 26px;
		gap: 8px;
		font-size: 14px;
		width: 45%;

		@media (max-width: $xsm) {
			width: calc(100% - 51px);
			background: var(--layout-bg-color);
			margin-top: -35px;
			border-radius: 30px;
			z-index: 5;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 600;
		font-size: 16px;
		margin-top: auto;

		&--rating-value {
			margin-right: 16px;
		}

		button {
			font-size: 18px;
			font-weight: 600;
			transition: 0.3s;
			color: var(--rating-value);

			&:hover {
				color: var(--button-bg-hover);
			}
		}
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 278px;
		overflow: hidden;
		border-radius: 10px;
		width: 55%;

		@media (max-width: $xsm) {
			width: 100%;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
