.search-restaurants {
	&__title {
		font-size: 28px;
		font-weight: 600;
		margin-left: 16px;
		margin-top: 16px;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		color: var(--brand);
		font-size: 18px;
		transition: all 0.5s;

		@media (max-width: 1400px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.restaurant-card {
		flex-direction: row;
		gap: 20px;
		max-width: initial;

		&__image-container {
			width: 110px;
			height: 110px;
		}

		&__content {
			flex: 1;
		}
	}
}
