@import "../../variables";

.find-address {
	display: flex;
	flex-direction: column;
	padding: 30px;

	@media (max-width: $sm) {
		padding: 20px;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 10px;

		@media (max-width: $sm) {
			font-size: 22px;
		}
	}

	&__subtitle {
		font-size: 16px;
		color: var(--subtitle);
		margin-bottom: 30px;
	}

	&__sagests-container {
		margin-bottom: 24px;
	}

	&__map-container {
		position: relative;
		border-radius: 14px;
		height: 400px;
		overflow: hidden;
		background: var(--map-background-color);
		background-image: radial-gradient(var(--map-background-dot-color) 1px, transparent 0);
		background-size: 18px 18px;

		@media (max-width: $sm) {
			display: none;
		}
	}

	&__map-pin {
		position: absolute;
		pointer-events: none;
		transition: 0.2s;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-100%);
		z-index: 10;

		&.move {
			padding-bottom: 20px;
			box-shadow: var(--address-pin-box-shadow);
		}
	}
}

.address-modal {
	width: 900px;
	min-height: 600px;
}
