<div class="signup-page-container">
	<div class="logo-container-on-sign-up"></div>
	<div class="signup-container">
		<h1 class="signup-title">Регистрация</h1>
		<form id="sign-up-form" class="signup-form">
			<div id="email-input-container" class="input-container"></div>
			<div class="error-message" id="email-error"></div>
      <div id="name-input-container" class="input-container"></div>
			<div class="error-name" id="name-error"></div>
			<div id="password-input-container" class="input-container"></div>
			<div class="error-message" id="password-error"></div>
			<div id="confirm-password-input-container" class="input-container"></div>
			<div class="error-message" id="confirm-password-error"></div>
			<div id="sign-up-button-container" class="button-container"></div>
		</form>
		<p class="signin-redirect">Уже зарегистрированы? <a href="{{signInUrl}}">Войти</a></p>
	</div>
  <img  id="auth-background" src="assets/background.jpeg" alt="bg" />
</div>
