$lg: 1240px;
$md: 900px;
$sm: 768px;
$h-sp: 610px;
$xs: 380px;

:root {
	--brand: #2d2d2d;

	--red: #ff0000;

	--subtitle: #818181;

	--text-color: #2d2d2d;
	--text-in-signin: #ffffff;

	--order-status: #545454;
	--order-status-border: #b9b9b9;

	--layout-border-radius: 30px;
	--layout-bg-color: #f6f6f6;

	--profile-dropdown-item-color: #414141;
	--profile-dropdown-item-color-hover: #242424;

	--link-color: #aeaeae;
	--link-color-hover: #575757;
	--link-color-active: #000;

	--input-border-radius: 18px;
	--input-height: 16px;
	--input-font-size: 16px;
	--input-password-padding: 10px 48px 10px 14px;
	--input-padding: 10px 14px 10px 14px;
	--input-search-padding: 10px 100px 10px 14px;
	--input-border-color: #545454;
	--input-border-color-hover: #b6b6b6;
	--input-border-color-focus: #525252;
	--input-box-shadow-focus: 0 0 0 1px #9c9c9c;
	--input-placeholder-color: #545454;
	--input-error-color: #ff0000;
	--input-color-dynamic: #000;

	--button-border-radius: 14px;
	--button-bg-color: #2d2d2d;
	--button-text-color: #fff;
	--button-xs-padding: 6px 18px;
	--button-s-padding: 9.5px 48.5px;

	--button-font-size: 16px;

	--button-bg-hover: #545454;
	--button-bg-active: #3a3a3a;
	--button-bg-back-mobile: #f6f6f6;
	--button-bg-disabled: #ddd;
	--button-bg-disabled-hover: #cbcbcb;
	--button-color-disabled: #9e9e9e;

	--button-secondary-text-color: #000;
	--button-secondary-bg: #fff;

	--back-button-bg-hover: #dbdbdb;

	--cart-button-color: #e3e3e3;

	--address-bg: #fff;
	--address-ouline-hover: #757575;

	--avatar-bg-linear-color-first: #faff00;
	--avatar-bg-linear-color-second: #42ff13;

	--header-profile-name-color-hover: #6f6f6f;
	--header-box-shadow: 0 7px 15px -5px #9c9c9c;
	--header-sticky-border-color: #d1d1d1;
	--header-bg-color: #fff;

	--profile-dropdown-width: 300px;
	--profile-dropdown-bg-color: #fff;
	--profile-dropdown-box-shadow: 0px 15px 20px 0px #00000047;

	--address-dropdown-box-shadow: 0px 6px 10px 0px #9e9e9ea3;

	--restaurant-card-rating-color: #4b4b4b;

	--notification-border-radius: 14px;
	--notification-width: 400px;
	--notification-box-shadow: 0 7px 15px -5px #9c9c9c;
	--notification-bg-color: #fff;
	--notification-description-color: #555;

	--background-light: #eff4e7;

	--auth-background: #fff;
	--auth-bg-color: #f4f4f4;

	--loader-secondary: #fff;

	--modal-wrapper-background: #00000078;
	--modal-content-background: #fff;

	--address-pin-box-shadow: 0px 10px 6px -7px #00000057;
	--map-controls-border-color: #ddd;
	--map-controls-bg: #fff;
	--map-controls-box-shadow: 0px 4px 15px -2px #928181;
	--map-controls-bg-hover: #efefef;
	--map-background-color: #f5f5f5a6;
	--map-background-dot-color: #ccc;

	--sagests-input-bg-color: #e7e7e7;
	--sagests-dropdown-bg-color: #fff;
	--sagests-dropdown-subtitle-color: #939393;
	--sagests-dropdown-subtitle-color-hover: #a7a7a7;
	--sagests-dropdown-title-color-hover: #5a5a5a;
	--sagests-dropdown-border: #e0e0e0;

	--custom-scrollbar-bg-color: #a8a8a8;
	--custom-scrollbar-bg-color-hover: #7a7a7a;
	--custom-scrollbar-color: #dfe0e0;

	--counter-add-bg-active: linear-gradient(-90deg, #b9b9b9, 40%, transparent);
	--counter-remove-bg-active: linear-gradient(90deg, #b9b9b9, 40%, transparent);
	--counter-add-bg-hover: #dfdfdf;

	--food-card-bg-hover: #f4f4f4;
	--food-subtitle-color: #545454;

	--cart-pay-method-color: #adadad;
	--cart-pay-method-color-hover: #e1e1e1;

	--file-upload-border-color: #e9e9e9;
	--file-upload-box-shadow: 0px 0px 15px -5px #cacaca;

	--profile-bg-color: #fff;

	--order-panel-box-shadow: 0 8px 20px 0 #0000002a;
	--order-details-border: #b5b5b5;
	--order-details-bg-mobile: #fff;

	--stepper-connector-default: #dfdfdf;

	--reviews-modal-box-shadow: 0 10px 20px -10px #0000003a;

	--textarea-border: #cfcfcf;
	--textarea-border-bottom: #ddd;
	--textarea-border-bottom-hover: #898989;

	--feedback-exmaple: #a5a5a5;
}
