#map-container {
	position: relative;
	display: flex;
	height: 100vh;
	border-radius: 15px;
	overflow: hidden;

	canvas {
		position: absolute;
		transform-origin: 0 0;
		min-height: 100vh;
		object-fit: cover;

		&:active {
			cursor: grabbing;
		}
	}
}
