<div id="map-container" class="{{this.class}}">
	<canvas id="canvas-map" width="11600" height="14300"></canvas>
	<div id="zoom-controls">
		<button id="increase-zoom-button"><img src="assets/plus.svg" alt="plus" /></button>
		<button id="decrease-zoom-button"><img src="assets/minus.svg" alt="minus" /></button>
	</div>
</div>
