<div id="restaurant-categories">

	<div id="button-container"></div>

	<div id="category-items">

		{{#each categories}}
			<div class="category-item" id="item-{{this.id}}">{{this.name}}</div>
		{{/each}}

	</div>

</div>
