<div class="restaurant-categories">

	<div class="restaurant-categories__button-container"></div>

	<div class="restaurant-categories__items">

		{{#each categories}}
			<div class="restaurant-categories__item" id="item-{{this.id}}">{{this.name}}</div>
		{{/each}}

	</div>

</div>
