<div class="order-panel" id="order-panel-{{this.id}}">
	<div class="order-panel__restaurant">{{this.restaurant}}</div>
	<div class="order-panel__button"></div>
	<div class="order-panel__status">{{this.status}}</div>
	<div class="order-panel__time">Приедет к {{this.time}}</div>
</div>
