<div class="dropdown">
    {{#if items}}
        {{#each items as |item itemId|}}
            <div class="dropdown__item" data-id="{{itemId}}">
                <div class="dropdown__item-title">{{item.title.text}}</div>
                <div class="dropdown__item-subtitle">{{item.subtitle.text}}</div>
            </div>
        {{/each}}
    {{else}}
        <div class="dropdown__address-not-found">
            <div class="dropdown__item-title">В указанный адрес доставка недоступна :(</div>
        </div>
    {{/if}}
</div>
