.dropdown {
	& > div + div {
		border-top: 1px solid var(--sujests-dropdown-border);
	}
}

.dropdown-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 40px;
	padding: 8px 10px;
	cursor: pointer;

	&.disabled {
		pointer-events: none;
		cursor: default;
	}

	#item-subtitle {
		font-size: 14px;
		color: var(--sujests-dropdown-subtitle-color);
	}

	&:hover {
		#item-title {
			color: var(--sujests-dropdown-title-color-hover);
		}

		#item-subtitle {
			color: var(--sujests-dropdown-subtitle-color-hover);
		}
	}
}

.address-not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 26px 0 16px;
}
