.slider {
	display: flex;
	width: fit-content;
	transition: 0.3s;
	margin-left: 0;
	gap: 40px;

	&__item {
		width: inherit;
		width: 440px;
	}

	&__description {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		width: 100%;
		color: var(--slider-description-color);
	}
}
